.App {
  display: flex;
  justify-content: center;
  margin-top: 297px;
}

.quote-container {
  width: 778px;
  height: 329px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-direction: column;
}

#quote {
  color: #545252;
  opacity: 1;
  transition: opacity 1000ms ease-in;
  text-align: center;
  width: 500px;
  height: 300px;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
}